body {
    font-family: sans-serif;
}

#app {
    max-width: 800px;
    margin: auto;
}
button {
    background-color: inherit;
    border:1px solid white;
    padding: 5px   1rem;

}
.flex-row {
    display: flex;
    align-items: center;
}
.stop-title-line {
    display: flex;
    align-items: center;
    border: 1px solid lightslategray;
}
.stop-title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background-color: lightslategray;
    color: white;
    padding: 2px;
    min-height: 38px;
}
.stop-towards {
    font-size:0.8em;
}
.lines {
    margin: 5px 0px;
}
.line {
    border: 1px solid black;
    padding: 2px;   
    margin:2px;
}
.letter {
    background-color: red;
    color:white;
    padding:5px;
    font-size: 1.3em;
    width: 1em;
    height: 1em;
    border-radius:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    margin:0 3px;
    flex-shrink: 0;

}

.arrival-time {
    width:4em;
    display: inline-block;
}
.time-to-station {
    font-weight: bolder;
    width: 3em;
    display: inline-block;
}
.line-name {
    display: inline-block;
    width: 2em;
    color:red;
}
.excluded {
    color:grey;
    border-color: grey;
}
.button {
    border: 1px solid black;
    padding:1px 3px;
}
.update-info {
    display:flex;
    width: 100%;
    align-items: center;
}
.update-info-content {
    flex-grow:1;
}
#digits {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#digits .digit {
    width:32%;
    height:2em;
    font-size: 2em;
    background: lightslategray;
    margin:3px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#code {
    display: flex;
    justify-content: space-between;
}
#code > div {
    width:19%;
    height: 2em;
    /* background-color: lightblue; */
    border: 1px solid lightslategray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

#smsCodeToggle,.around-header{
    padding:3px;
    border: 1px solid lightslategray;
    background-color:lightslategray;
    color:white;
    margin: 3px 0;
}
#arrivals {
    margin:2px 0;   
}
.hidden{
    display: none!Important;
}

.around  .stop, .stops-list .stop {
    display: flex;
    margin: 10px 0;
    align-items: center;
}
.stop-main-info {
    display:flex;
    flex-direction: column;
    font-size: 0.8em;
}
.stop-main-info  .stop-name {
    font-weight: bolder;
}
#console {
    white-space: pre;
}
.make-favourite {
    width: 2rem;
    text-align: center;
    opacity: 0.5;
    padding: 8px;
}
.make-favourite.starred {
    font-weight: bold;
    opacity: 1;
}
bus-line {
    border: 1px solid black;
    margin: 2px;   
    padding:2px 5px;
}

bus-line .excluded {
    color:grey;
    border-color: grey;
}

.tabs {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
.tab {
    padding: 5px;
    flex-grow: 1;
    margin: 1px;
    background-color:hsl(0,100%,90%,1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab.tab-active {
    background-color: hsl(0,100%,75%,1);
    font-weight: bold;
}
.close-stop-btn {
    width: 2rem;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nearby-btn {
    margin-right: 1rem;
    color: white
}
.centered-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}